/*.menu {
	font-size: 40px;
	color: #fff;
	width: inherit;
	text-align: center;
}*/

body {
	background-color: #20b2aa;
}

footer {
	position: fixed;
	margin-top: 40%;
	text-align: left;
	color: #fff;
}

a {
	text-decoration: none;
	color: #fff;
}

nav {
	color: #fff;
	margin: 0 auto;
	text-align: center;
}

.menu-button {
	margin-top: 10%;
	margin-left: 48%;
	height: 50px;
	width: 50px;
	background-color: #fff;
}

.menu-button > #line1 {
	margin-top: 10%;
	margin-left: 5px;
	width: 40px;
	height: 10px;
	background-color: #000;
}

.submenu {
	display: none;
	height: 20px;
	width: 30px;
	background-color: #fff;
}

#header, #matrix_name {
	font-size: 5em;
	text-align: center;
	height: 2em;
	width: 100%;
	background-color: #000;
	color: #00ff00;
	margin: 0;
	padding: 0;
}