html, body {
	margin: 0;
	padding: 0;
}

#bckgd-bubbles {
	position: fixed;
	z-index: -1000;
	height: 100%;
	width: 100%;
}


/* large screen views */
@media screen and (min-width: 751px) {
	
	.vid-wrapper {
		width: 100%;
		height: 100%;
	}


	#topbar-logo {
		/*display: none;*/
		margin-top: 3%;
		/*image-rendering: optimizeSpeed;*/
		max-width: 650px;
	}

	#vid-grow-light-large {
		margin-top: 20%;
		margin-left: 20%;
		/*height: 20%;*/
		width: 20%;
		min-width: 300px;
		max-width: 500px;
	}

	.content-wrapper {
		/*width: 80%;
		margin-left: 10%;*/
		width: 100%;
		height: 100%;
		background: linear-gradient(#2e528a, #f59e25, #c24643);
		/*background: linear-gradient(#2e528a, #f59e25, #c24643, #99dbe3);*/
	}

	.video-content {
		float: left;
		margin-left: 5%;
		width: 50%;
		min-width: 100px;
		/*max-width: 500px;*/
	}

	.video-description-small {
		padding-left: 0.3em;
		color: #000;
		font-family: Futura, serif, Sans-Serif;
		float: right;
		width: 40%;
		overflow-y: scroll;
	}

	.video-description {
		float: right;
		margin-left: 5%;
		text-align: center;
		color: #000;
		font-family: "Bowlby One";
		font-style: italic;
		font-size: 2em;
		width: 40%;
		overflow-y: scroll;
	}

	.vid-title {
		font-weight: bold;
	}

	.video-wrapper {
		display: inline-block;
		margin: 10% 5%;
		padding-top: 1em;
		padding-right: 0.2em;
		padding-bottom: 1em;
		padding-left: 0.2em;
		width: auto;
		border-color: green;
		border-radius: 10px;
		background-color: white;
	}

	#jhgl-wrapper {
		width: 100%;
		height: 20%;
		/*background-color: #fff;*/
	}

	#vid-grow-light-small {
		float: left;
		width: 60%;
		min-width: 100px;
		/*max-width: 500px;*/
	}

}

/* small screen media queries */

@media screen and (max-width: 750px) {

	.desc-bullets {
		display: none;
	}
	
	.content-wrapper {
		width: 100%;
		/*height: 100%;*/
		/*margin-left: 10%;*/
		background: linear-gradient(#2e528a, #f59e25, #c24643);
		/*background: linear-gradient(#2e528a, #f59e25, #c24643, #99dbe3);*/
	}

	.video-content {
		margin-left: 5%;
		width: 90%;
		min-width: 100px;
		max-width: 500px;
	}

	.video-description {
		margin: 5%;
		font-weight: bold;
		color: #000;
		font-family: "Bowlby One";
		font-style: italic;
		font-size: 25px;
		width: 90%;
		max-height: 1em;
		text-align: center;
	}

	.video-wrapper {
		display: inline-block;
		margin: 10% 10%;
		padding-top: 1em;
		padding-right: 0.2em;
		padding-bottom: 1em;
		padding-left: 0.2em;
		width: auto;
		border-color: green;
		border-radius: 10px;
		background-color: white;
	}

	#vid-grow-light-small {
		float: left;
		width: 60%;
		min-width: 100px;
		max-width: 500px;
	}

}