a {
	text-decoration: none;
	color: #000;
}

nav li {
	display: inline-table;
}

nav li:hover {
	background-color: #20b2aa;
}

.top {
	padding-top: 110px;
	height: 1250px;
	width: 140px;
	background-color: #ffffff;
}

.aboutMe {
	height: 300px;
	width: 400px;
	background-color: #00f00f;
}

.myProjects {
	height: 200px;
	width: 20em;
	background-color: #0ff0f0;
}


#navbar {
	position: fixed;
	font-size: 2em;
}

#header, #matrix_name {
	font-size: 5em;
	text-align: center;
	height: 2em;
	width: 100%;
	background-color: #000;
	color: #00ff00;
}